BTChuong4_Schema/BT8/Bai8_QLCD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT SPECIALS (TITLE, MESSAGE, CD)+ >
<!ELEMENT TITLE (#PCDATA) >
<!ELEMENT MESSAGE (#PCDATA) >
<!ELEMENT CD (DATA, ARTIST, PRICEVN, TRACK+) >
<!ELEMENT DATA (#PCDATA) >
<!ELEMENT ARTIST (#PCDATA) >
<!ELEMENT PRICEVN (#PCDATA) >
<!ELEMENT TRACK (NAME, LENGTH)>
<!ELEMENT NAME (#PCDATA) >
<!ELEMENT LENGTH (#PCDATA) >